.GamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* TOP SECTION */
/* LEFT */
.Top-Section {
    /* outline: 1px solid black; */
    width: 90%;
    display: flex;
    gap: 10px;
    height: 300px;
    max-height: 250px;
}

.Top-Section-Left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: scroll;
}

.Top-Section-Left-Word-Container {
    /* outline: 1px solid black; */
    display: flex;
    gap: 5px;
    padding: 2.5px;
}

.Top-Section-Left-Word-Box-Bronze {
    background: white;
    outline: 1px solid black;
    background-size: 150% 150%;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Top-Section-Left-Word-Box-Silver {

    background: linear-gradient(40deg, #ffffff, #848484, #e3e3e3, #c3c3c3);
    background-size: 150% 150%;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.Top-Section-Left-Word-Box-Gold {
    background: linear-gradient(40deg, #ffb700, #face1c, #fdf3d7, #e8e821);
    background-size: 150% 150%;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    animation: rotateGradient 10s
}

.Top-Section-Left-Word-Box-Black {
    background-color: black;
    color: white;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* RIGHT */
.Top-Section-Right {
    /* flex: 1; */
    display: flex;
    justify-content: end;

}

.Letter-Count {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* CURRENT WORD */
.Current-Word-Section {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    height: 30px;
}

.Current-Word-Section-Box {
    background-color: var(--Orange);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* CURRENT WORD INVALID */
.Current-Word-Section-Invalid {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    height: 30px;
    animation: shake 0.2s ease-in-out;
}

.Current-Word-Section-Box-Invalid {
    background-color: var(--Red);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}





/* STRING SECTION */

.Half-Square-Visible{ 
    /* ORIGINAL */
    /* background-color: var(--Light-Gray);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15px;
    height: 50px; */

    /* TEST */
    background-color: var(--Light-Gray);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.Half-Square-Invisible{ 
    /* background-color: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15px;
    height: 50px; */

    background-color: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: -25px;

}

.String-Section-Container {
    position: relative;
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 15px;
    width: calc(100vw - 40px);
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: 40px;
}


.String-Section {
display: flex;
align-items: center;
gap: 15px;
}

.Index-Indicator{ 
position: absolute;
font-size: 10px;
left: 5px;
top: 3px;
}

.String-Section-Current-Letter-Box-Border {
    border: 5px solid var(--Green);
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.String-Section-Current-Letter-Box {
    position: relative;
    background-color: var(--Light-Gray);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--Gray);
    /* margin-right: 50px; */
}

.String-Section-Letter-Box {
    position: relative;
    background-color: var(--Light-Gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--Gray);
    /* margin-right: 50px; */
}


/* ADD WORD BTN */
/* .Add-Word-Button {
    outline: 1px solid black;
    width: 200px;
    height: 50px;
    background-color: var(--Green);
    border: none;
    color: white;
    font-size: larger;
}

.Add-Word-Button{
    cursor: url('/public/Cursor.png') 0 0, auto;
} */


/* KEYBOARD */
.Keyboard {
    /* outline: 1px solid black; */
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.Keyboard-Row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Keyboard-Row .Keyboard-Button {
    border-radius: 5px;
    width: 10%;
    height: 55px;
    background: none;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Keyboard-Row .Keyboard-Button:hover {
    background-color: var(--Green);
    font-size: larger;
    cursor: url('/public/Cursor.png') 0 0, auto;

}

.Keyboard-Row .Special-Button {
    border-radius: 5px;
    width: 15%;
    height: 55px;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Keyboard-Row .Special-Button:hover {
    font-size: larger;
    cursor: url('/public/Cursor.png') 0 0, auto;
}



/* GAME OVER  */

.Score-Indicator-Container{
    outline: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    padding: 5px;

}
.Score-Indicator-White{
    outline: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;

}
.Score-Indicator-Silver{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(40deg, #ffffff, #848484, #e3e3e3, #c3c3c3);

}
.Score-Indicator-Gold{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(40deg, #ffb700, #face1c, #fdf3d7, #e8e821);

}

.GamePage input{ 
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: var(--Green);
}

.GamePage input:focus{ 
    outline: 2px solid var(--Orange);
}

