.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    min-height: 100vh;
}

/* TITLE */
.Title {
    width: fit-content;
    max-width: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    margin-top: 10px;
}

.Title:hover {
    background-color: var(--Light-Gray);
}

.Title-Box-Black {
    outline: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.Title-Box-White {
    outline: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* DATE SELECTOR */
.Date-Selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Date-Selector-Date-Container {
    outline: 1px solid black;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 30px;
}

.Date-Selector-Date-Animate-Left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin-right: 200px;
    /* background-color: red; */
    animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        margin-right: 200px;
    }

    to {
        margin-right: 0px;
    }
}

.Date-Selector-Date-Animate-Right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin-left: 200px;
    /* background-color: red; */
    animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
    from {
        margin-left: 200px;
    }

    to {
        margin-left: 0px;
    }
}

.Back-One-Day-Button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Back-One-Day-Button:hover {
    background-color: var(--Green);
}

.Forward-One-Day-Button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Forward-One-Day-Button:hover {
    background-color: var(--Green);
}

/* PLAY BUTTON */
.Play-Container {
    display: flex;
    gap: 5px;
    /* outline: 1px solid black; */
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 240, 231);
}

.Play-Container:hover {
    background: var(--Orange);
}

.Play-Container-Box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--Orange);
}

/* PRACTICE BUTTON */
/* .Practice-Container{
    display: flex;
    gap: 5px;
    outline: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.Practice-Container:hover{ 
background-color: black;
}

.Practice-Container-Box{
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: white;
} */



/* HOW TO PLAY BUTTON */
.How-To-Play-Container {
    display: flex;
    gap: 5px;
    max-width: 95%;
    background: rgb(229, 238, 229);
    padding: 5px;
    border-radius: 10px;
}

.How-To-Play-Container:hover {
    background: var(--Green);
}

.How-To-Play-Container-Box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--Green);
}


/* LEADER BOARD  */

.Leaderboard-Container {
    max-width: 95%;
    display: flex;
    gap: 10px;
    background: var(--Light-Gray);
    /* padding: 10px; */
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;

}

.Leaderboard-Title-Container {
    /* outline: 1px solid black; */
    max-width: 100%;
    border-radius: 10px;
    display: flex;

    gap: 5px;
    padding: 5px;
}

.Leaderboard-Title-Container:hover {
    /* background-color: var(--Orange); */
}

.leaderboard-Title-Box {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    border-radius: 5px;

}

.Highscore-Card {
    outline: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
    max-width: 90%;
    background-color:var(--Light-Gray);
    position: relative;
}

.Highscore-Index{ 
    position: absolute;
    top: 5px;
    left: 5px;
}

.Highscore-Name {
    font-weight: bold;
}

.Highscore-Plug {}

.Highscore-Score {
    font-weight: bold;

}

.Highscore-Longest-Word {}

.Highscore-Points-Indicator {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Highscore-Points-Indicator .White {
    width: 30px;
    height: 30px;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.Highscore-Points-Indicator .Green {
    width: 30px;
    height: 30px;
    background-color: var(--Green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Highscore-Points-Indicator .Black {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}